CaravanOnline/bin/
CaravanOnline/obj/

CaravanOnline/*.suo
CaravanOnline/*.user
CaravanOnline/*.userosscache
CaravanOnline/*.pdb
CaravanOnline/*.dll
CaravanOnline/*.exe

CaravanOnline/appsettings.development.json
CaravanOnline/appsettings.json
CaravanOnline/*.log
.vscode/

*.DS_Store
*.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.sln
*.vs